@page
@model WebApplication2.Pages.Heros.Star.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Stars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stars.Id" />
            <div class="form-group">
                <label asp-for="Stars.Value" class="control-label"></label>
                <input asp-for="Stars.Value" class="form-control" />
                <span asp-validation-for="Stars.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars.Name" class="control-label"></label>
                <input asp-for="Stars.Name" class="form-control" />
                <span asp-validation-for="Stars.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
