@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><h1>开始你的10连抽吧。共100卡10橙色30粉色30蓝色30白色，看你什么时候能够抽满所有橙卡</h1></p>

</div>

